* {
  margin:0;
  padding:0;
}
.google-sans-code-portfolio {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* --- Body Styles --- */
body {
  color: #DFE6E0; 
  font-family: "Google Sans Code", monospace;
  background: linear-gradient(45deg, #1D222C, #4c679e);
  background-color: #000000;
}
.section-header {
    position: relative;
    font-size: 3.5rem;
    padding: 2.5rem;
}

/* --- Navigation --- */
.navigation-bar {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.97);
  padding: 10px;
  z-index: 1000;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}
#navigation__name {
  margin-right: auto;
}
.navigation__item {
  display: inline-block;
  padding: 5px 20px;
}
.navigation__item a {
  color: #b5b7b3;
  text-decoration: none;
}
.navigation__item a:hover,
.navigation__item a.active {
  color: #ffffff;
}
/* --- Landing Page --- */
.landing-page {
  background-color: #1D222C;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.landing-page__header {
  text-align: center;
  font-size: 10vw;
}
/* --- About --- */
.about {
  min-height: 100vh;
}
.about__header {
  margin-left: 15%;
}
.about__article p{
  margin-left: 15%;
  width: 35vw;
}
/* --- Projects --- */
.project {
  min-height: 100vh;
}
/* -- Contact --- */
.contact {
  text-align: center;
  min-height: 70vh;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__form-input {
  width: 500px;
  padding: 5px;
  resize: none;
  border: none;
}
.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-primary {
  background-color: #192D39;
  color: #E7ECE2;
}

/* --- Footer Styles --- */
footer {
  color: #E7ECE2;
  background-color: #000000;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
}
