* {
  margin:0;
  padding:0;
}

/* --- Body Styles --- */
body {
  color: #DFE6E0; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #1D222C;
}
.section-header {
  text-align: center;
}

/* --- Navigation --- */
.navigation-bar {
  position: fixed;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  background-color: #192D39;
  padding: 10px;
  z-index: 1000;
}
.navigation__item {
  display: inline-block;
  padding: 5px 20px;
}
.navigation__item a {
  color: #b5b7b3;
  text-decoration: none;
}
.navigation__item a:hover,
.navigation__item.active a{
  color: #ffffff;
}

.about {
  min-height: 100vh;
}
.project {
  min-height: 100vh;
}
.contact {
  min-height: 100vh;
}
/* --- Landing Page --- */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.landing-page__header {
  text-align: center;
  font-size: 10vw;
}


/* --- Projects --- */


/* -- Contact --- */
/*
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__form-input {
  width: 500px;
  resize: none;
  border: none;
}
.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-primary {
  background-color: #192D39;
  color: #E7ECE2;
}
*/
/* --- Footer Styles --- */
footer {
  color: #E7ECE2;
  background-color: #192D39;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
}
